html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  font-size: 1rem;
  line-height: 160%;
  background-color: rgb(49, 31, 56);
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (min-width: 51.25rem) {
  body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
  }
}
@media (min-width: 120rem) {
  body {
    font-family: 'Volkhov', serif;
    font-size: 1.5rem;
  }
}

h1 {
  text-shadow: 1px 1px 2px #555, 2px 2px 4px #888, 3px 3px 8px #bbb, 4px 4px 16px #ddd,
    5px 5px 32px #eee;
  margin-top: 2rem;
  margin-bottom: 3rem;
  animation: color-change 7s infinite ease;
}

@keyframes color-change {
  35% {
    color: rgb(216, 194, 194);
    text-shadow: 1px 1px 2px #555, 2px 2px 4px #888, 3px 3px 8px #bbb, 4px 4px 16px #ddd,
      5px 5px 32px #eee;
  }
  55% {
    color: rgb(179, 172, 241);
    text-shadow: 1px 1px 2px #555, 2px 2px 4px #888, 3px 3px 8px #bbb, 4px 4px 16px #ddd,
      5px 5px 32px #eee;
  }

  85% {
    color: rgb(26, 213, 247);
    text-shadow: 1px 1px 2px #555, 2px 2px 4px #888, 3px 3px 8px #bbb, 4px 4px 16px #ddd,
      5px 5px 32px #eee;
  }
}



._wrapper {
  margin-top: 1rem;
  margin-bottom: 3rem;
  max-width: 90%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px 2px #555, 2px 2px 4px #888, 3px 3px 8px #bbb, 4px 4px 16px #ddd,
    5px 5px 32px #eee;
}

.wrap {
  background-color: rgba(126, 116, 130, 0.863);
  width: 80vw;
  color: #010005;
  text-shadow: 1px 1px 2px #555, 2px 2px 4px #888, 3px 3px 8px #bbb, 4px 4px 16px #ddd,
    5px 5px 32px #eee;
}

.wrap:hover .icon > img {
  opacity: 1;
  color: #40355b;
  transition: 0.5s ease-in-out;
}

.wrap:hover {
  color: rgb(26, 213, 247);
  text-shadow: 1px 1px 2px #555, 2px 2px 4px #888, 3px 3px 8px #bbb, 4px 4px 16px #ddd,
    5px 5px 32px #eee;
}

.accordion-item_input {
  opacity: 0;
}

.accordion-item_trigger {
  display: block;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.6s;
  gap: 1.2rem;
  border-top: 1px solid rgba(31, 25, 25, 0.212);
}

.icon > img {
  width: 1rem;
  transform: rotate(90deg);
  opacity: 0;
}

.accordion_content {
  width: 0;
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
  text-align: center;
  cursor: pointer;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  display: block;
}

.accordion-item_input:checked:not(.accordion_content:active) ~ .accordion-item_trigger {
  background-color: #40355b;
  box-shadow: 1px 1px 2px #555, 2px 2px 4px #888, 3px 3px 8px #bbb, 4px 4px 16px #ddd,
    5px 5px 32px #eee;
  color: rgb(26, 213, 247);
  text-shadow: 1px 1px 2px #555, 2px 2px 4px #888, 3px 3px 8px #bbb, 4px 4px 16px #ddd,
    5px 5px 32px #eee;
}

.accordion-item_input:hover ~ .accordion-item_trigger {
  background-color: #7969a1;
  box-shadow: 1px 1px 2px #555, 2px 2px 4px #888, 3px 3px 8px #bbb, 4px 4px 16px #ddd,
    5px 5px 32px #eee;
}

.accordion-item_input:checked ~ .accordion_content {
  box-sizing: border-box;
  width: 80vw;
  height: 40vh;
  object-fit: contain;
}

.accordion-item_input:hover ~ .accordion_content {
  box-sizing: border-box;
  width: 80vw;
  height: 40vh;
  object-fit: contain;
}

.accordion_content:hover {
  box-sizing: border-box;
  width: 80vw;
  height: 40vh;
  object-fit: contain;
}

.accordion_content:active {
  opacity: 0.7;
}


.accordion-item_trigger:active:not(.accordion-item_trigger:checked) {
  
  opacity: 0.3;
}

.accordion-item_input:hover ~ .accordion-item_trigger > .icon > img {
  transform: rotate(270deg);
  transition: 0.5s ease-in-out;
}
.accordion-item_input:checked ~ .accordion-item_trigger > .icon > img {
  transform: rotate(270deg);
  transition: 0.5s ease-in-out;
}

.accordion_content > img {
  padding-top: 1rem;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.accordion:active{
  color: #bd0c0c;
}